button {
    border-style: none;
}

button:focus {
  outline: 0;
}

#sectionAdd {
  margin: 2px 5px;
}

#sectionAdd > button {
  background-color: #FF3100;
  width: 100px;
}

#sectionAdd > button:hover {
  background-color: #FF5F39;
}

.gifContainer {
  display: inline-block;
  margin: 0 10px;
}

.gifButton {
  width: 100px;
  margin: 2px 5px;
  background-color: #FFE039;
}

.gifButton:hover {
  background-color: #FFAD39;
}